@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }

  .light body {
    @apply bg-background-light text-gray-900;
  }
}
